<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Admin - Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2>User List</h2>
<div id="users">Loading...</div>
<script>
    $.ajax({
        url: '/api/users',
        method: 'GET',
        success: function(users) {
            let html = '<ul>';
            users.forEach(u => html += `<li>${u.username} (${u.email}) - ${u.userRole}</li>`);
            html += '</ul>';
            $('#users').html(html);
        },
        error: () => $('#users').html('Access denied or error.')
    });
</script>
</body>
</html>